/* @font-face {
    font-family: "Poppins";
    src: url ("./fonts/Poppins/Poppins-Regular.ttf") format ("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #ff8a00;
    --black-color: #311f09;
    --brown-color: #59442b;
    --gray-color: #e5f0f1;
    --green-color: #3fa72f;
    --white-color: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Container */

.container {
    max-width: 1440px;
    margin: 0 auto;
}
